:root{
    --col-theme-glass: rgba(33, 37, 41, .66);
    --col-theme-bg-overlay: rgba(33, 37, 41, .56);
    --col-theme-bg-overlay-dark: rgba(17, 19, 20, 0.842);
    --col-theme-bg-overlay-darker: rgba(22, 24, 26, 0.952);
    --col-theme-card: rgba(33, 37, 41, .578);
    --col-theme-glass-navbar: rgba(33, 37, 41, .66);
    --col-theme-glass-modal: rgba(33, 37, 41, .478);
    --col-theme-accent: rgba(0, 0, 0, .25);
    --col-theme-accent-light: rgba(0, 0, 0, .1);
    --col-theme-text: rgb(255, 255, 255);
    --col-theme-text-muted: rgb(191, 191, 191);
    --col-nav-link: rgba(255, 255, 255, .6);
    --col-theme-svgicon-primary: rgb(255, 255, 255);
    --col-theme-svgicon-primary-invert: black;
    --col-theme-svgicon-secondary: rgb(127, 127, 127);
    --col-theme-svgicon-secondary-invert: gray;
    --col-theme-text-t: rgba(255, 255, 255, .4);
    --col-theme-logo: #00d9fa;
    --col-theme-background: rgb(33, 37, 41);
    --col-theme-background-alpha: rgb(33, 37, 41, 0.952);
    --col-theme-textshadow: rgba(0, 0, 0, .8);
    --col-theme-row-stripe: rgba(255, 255, 255, .03);
    --col-textbg-Explosion: rgba(59, 13, 16, .5);
    --col-textbg-Pierce: rgba(57, 36, 12, .5);
    --col-textbg-Mystic: rgba(19, 43, 56, .5);
    --col-textbg-Sonic: rgba(55, 25, 60, .5);
    --col-bg-buff: rgba(76, 15, 12, .431);
    --col-bg-debuff: rgba(12, 39, 76, .439);
    --col-bg-cc: rgba(50, 12, 78, .361);
    --col-bg-status: rgba(111, 53, 29, .478);
    --col-bg-item-n: rgb(140, 147, 158);
    --col-bg-item-r: rgb(101, 141, 191);
    --col-bg-item-sr: rgb(168, 125, 81);
    --col-bg-item-ssr: rgb(122, 91, 190);
    --col-text-explosive: rgb(255, 46, 64);
    --col-text-piercing: rgb(218, 141, 52);
    --col-text-mystic: rgb(45, 150, 210);
    --col-text-sonic: rgb(184, 78, 202);
    --col-text-explosive-t: rgba(255, 46, 64, .4);
    --col-text-piercing-t: rgba(218, 141, 52, .4);
    --col-text-mystic-t: rgba(45, 150, 210, .4);
    --col-text-sonic-t: rgba(184, 78, 202, .4);
    --col-text-buff: rgb(255, 79, 50);
    --col-text-debuff: rgb(63, 158, 238);
    --col-text-cc: rgb(174, 106, 247);
    --col-text-status: rgb(255, 203, 51);
    --col-text-emphasis: rgb(84, 168, 255);
    --col-text-stars: rgb(255, 201, 51);
    --col-text-weaponstars: hsl(192, 100%, 60%);
    --col-text-compare-greater: rgb(0, 179, 95);
    --col-text-compare-less: rgb(255, 46, 64);
    --col-btn-primary: rgb(222, 226, 230);
    --col-btn-secondary: rgb(33, 37, 41);
    --col-btn-secondary-dropdown: rgb(16, 18, 20);
    --col-btn-pressed: rgb(16, 18, 20);
    --col-btn-active-primary: rgb(0, 0, 0);
    --col-btn-active-secondary: rgb(255, 255, 255);
    --col-btn-primary-glow: rgba(255, 255, 255, .25);
    --col-panel-separator: rgba(255, 255, 255, .25);
    --col-bg-imglabel: rgba(40, 40, 40, .835);
    --col-bg-imglabel-invert: rgba(255, 255, 255, .855);
    --col-grid-label: rgba(43, 47, 53);
    --col-grid-pressed: rgb(23, 25, 28);
    --col-map-tile: rgba(255, 255, 255, 1);
    --var-background-brightness: .85;
    --var-opacity-lightonly: 0%;
    --var-opacity-darkonly: 100%;
    --var-invert-light: invert(0);
    --var-invert-dark: invert(1);
    --var-invert-light-hue: 0deg;
    --var-invert-dark-hue: 180deg;
    --var-tile-default-opacity: .7;
    --var-brightness-filter: brightness(.5);
    --var-glass-filter: blur(4rem);
    --var-glass-filter-navbar: blur(1rem);
    --var-card-border-radius: 12px;
    --var-animation-duration: .2s;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px; /* телефоны */
    --bs-breakpoint-md: 768px; /* планшеты */
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --bs-dark-rgb: 33, 37, 41;

    --bs-body-line-height: 1.5;
    --bs-body-font-weight: 400;
    --bs-body-font-size: 1rem;
    
    --col-filter-all-text: rgb(238, 207, 76);
    --col-filter-ui-active-background: rgb(56, 157, 235);
    /* --col-filter-character-active-background: rgb(147, 235, 75); */
    --col-filter-character-active-background: rgb(62, 201, 72);
    --col-filter-vfx-active-background: rgb(222, 133, 0);
    --col-filter-other-active-background: rgb(235, 85, 144);
    --col-palette-border-active: rgb(0, 217, 250);
    --col-palette-outline: rgb(211, 211, 211);
}
@font-face {
    font-family: "nexon-font";
    src: url("./font/NEXONFootballGothicBA1.woff2");
}
::-webkit-scrollbar{
    z-index: 1000;
    width: 4px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: white;
}

html{
    font-size: 14px;
}

body{
    font-family: "Nunito Sans", "Noto Sans JP", sans-serif;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    box-sizing: border-box;
    /* height: 100dvh; */
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: relative;

    overscroll-behavior: none;
    scroll-behavior: auto;
}

div, button{
    box-sizing: border-box;
    user-select: none;
}

.background{
    position: fixed;
    top: -4rem;
    left: -4rem;
    background: var(--col-theme-background) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: calc(100vw + 8rem);
    height: calc(100vh + 8rem);
    z-index: -10;
    transform: scale(1.2);
    filter: var(--var-glass-filter) brightness(1);
}

#bg-overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: var(--col-theme-bg-overlay);
}

/* -------------------------------------------------------------- header */

header{
    display: flex;
    unicode-bidi: isolate;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backdrop-filter: var(--var-glass-filter-navbar);
    will-change: transform;
    transition: transform ease .2s;
}

.navbar{
    background-color: var(--col-theme-glass-navbar);
    color: var(--col-theme-text);
    filter: drop-shadow(0 0 .5rem rgba(0, 0, 0, .125));
    
    display: flex;
    height: 4rem;
    flex: 1 0 0;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar-container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: start;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.navbar-container button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}

.burger-button {
    background-color: transparent;
    border: none;
    color: var(--col-theme-text);
}

.displayingbar, .lang-container, .langbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    flex-shrink: 0;
}
.displayingbar {
    margin-right: 3rem;
}
.lang-icon {
    display: flex;
    align-items: center;
}

.display-type-button, .lang-btn {
    will-change: background-color;
    all: unset;
    height: 36px;
    width: 36px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    transition: background-color .2s ease, color .2s ease;
}
.lang-btn {
    width: 40px;
}
.display-type-button.active, .lang-btn.active {
    color: var(--col-btn-active-primary);
    background-color: var(--col-btn-active-secondary);
}

.filterbar{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.filter-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .4rem;
}

.filter-button, .filter-button1 {
    will-change: background-color;
    all: unset;
    min-width: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 999px;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    transition: background-color .2s ease, color .2s ease;
    text-decoration: none;
}
.filter-line{
    all: unset;
    border: 1px solid var(--col-panel-separator);
    border-radius: 999px;
    flex: 0 0 0;
    cursor: default;
}
#f-all, #f-all1 {
    color: var(--col-filter-all-text);
}
#f-all.active, #f-all1.active {
    color: var(--col-btn-active-primary);
    background-color: var(--col-btn-active-secondary);
}
#f-ui.active, #f-ui1.active {
    color: var(--col-theme-text);
    background-color: var(--col-filter-ui-active-background);
}
#f-char.active, #f-char1.active {
    color: var(--col-theme-text);
    background-color: var(--col-filter-character-active-background);
}
#f-vfx.active, #f-vfx1.active {
    color: var(--col-theme-text);
    background-color: var(--col-filter-vfx-active-background);
}
#f-other.active, #f-other1.active {
    color: var(--col-theme-text);
    background-color: var(--col-filter-other-active-background);
}

.switchbar{
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: .5rem;
}
.switch-button {
    will-change: background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: background-color ease var(--var-animation-duration) 0s;
}

.guidebar {
    flex: 1 1 auto;
    position: relative;
    z-index: 10;
    margin-left: 3rem;
}
.guide-button {
    will-change: background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: fit-content;
    padding: 0 .8rem;
    transition: background-color ease var(--var-animation-duration) 0s;
}
.guide-panel {
    display: none;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
    position: absolute;
    gap: 1rem;
    background-color: var(--col-theme-background);
    color: var(--col-theme-text);
    box-shadow: 0 4px 10px #00000080;
    width: 420px;
    height: fit-content;
    left: 0;
    top: 130%;
}
.guide-panel.visible {
    display: flex;
}
.guide-item {
    flex: 1 1 auto;
    display: flex;
    gap: 1rem;
}

.langbar {
    gap: .5rem;
    margin-right: 3rem;
}
.infobar {
    margin-right: 1rem;
    position: relative;
    z-index: 10;
    display: flex;
}
.info-button{
    will-change: background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    border-radius: 6px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: background-color ease var(--var-animation-duration) 0s;
}
.info-panel{
    display: none;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
    position: absolute;
    background-color: var(--col-theme-background);
    color: var(--col-theme-text);
    box-shadow: 0 4px 10px #00000080;
    width: 360px;
    height: fit-content;
    right: 0;
    top: 130%;
}
.info-panel.visible{
    display: flex;
}
.info-item{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.info-footer{
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.github-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: currentColor;
    border-radius: 6px;
    padding: 0 .5rem;
}

/* -------------------------------------------------------------- sidebar */

.sidebar-button-holder {
    display: none;
}
.sidebar {
    will-change: transform;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    color: var(--col-theme-text);
    background-color: var(--col-theme-background-alpha);
    z-index: 3;
    transition: transform ease .4s;
    transform: translateX(-100%);
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 16px;
}
.sidebar-close-button {
    background-color: transparent;
    color: var(--col-theme-text-muted);
    border: none;
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    :hover {
        color: var(--col-theme-text);
        transform: translateZ(0);
    }
}
.sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.displayingbar.side {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    margin: 0;
    > button {
        flex: 1;
    }
}

.filterbar-side {
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-list-side {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .4rem;
    flex-wrap: wrap;
}

.switchbar-side {
    > button {
        width: 100%;
    }
}

.langbar-side {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    flex-shrink: 0;
}
.lang-container.side {
    flex: 1 0 auto;

}
.lang-btn.side {
    flex: 1 0 auto;
}

.guidebar-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guidebar-side>button {
    width: 100%;
}
.guide-panel.side, .info-panel.side {
    position: static;
    width: 100%;
    border: 1px dashed var(--col-theme-text);
    box-shadow: none;
}

.info-button.side {
    width: 100%;
}

/* -------------------------------------------------------------- main */

.gallery-place-holder{
    display: flex;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    padding: 1rem;
    z-index: 1;
    width: 100%;
    justify-content: space-between;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: calc(56px + 1rem);
}
.gallery-place-holder::-webkit-scrollbar-track{
    margin-block-start: calc(56px + 1rem);
    margin-block-end: 1rem;
}

.gallery-part {
    flex: 1 0 0;
}

/* -------------------------------------------------------------- gallery grid */

#gallery-grid{
    z-index: 1;
}

.card-wrapper{
    display: flex;
    border-radius: 6px;
    transform: translateZ(0);
    pointer-events: none;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    pointer-events: auto;
    border-radius: inherit;
    will-change: transform;
    transform: translateZ(0);
}
.card-img{
    will-change: transform, filter;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: ease 0.2s;
    pointer-events: none;
}
.card-label {
    will-change: height;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    color: var(--col-theme-text);
    background-color: #000000A0;
    transition: ease 0.2s;
    font-weight: 500;
    font-size: 1.2rem;
    pointer-events: none;
}
.card-int-icon {
    will-change: transform;
    position: absolute;
    left: 8px;
    top: 8px;
    color: white;
    background-color: #00000080;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: ease 0.2s;
    transform: translateY(-200%);
    pointer-events: none;
}
.card:hover .card-label {
    height: 2.4rem;
    transform: translateZ(0);
}
.card:hover .card-int-icon {
    transform: translateY(0) translateZ(0);
}

/* ---------------------------------------- */
.cardfall{
    height: fit-content;
    padding: 1rem;
    columns: 200px;
    gap: 1.5rem;
}
.cardfall > .card-wrapper{
    cursor: pointer;
    margin-bottom: 1.5rem;
    display: flex;
}
.cardfall .card {
    width: 100%;
    height: 100%;
}
.cardfall .card:hover>img {
    scale: 1.1;
    filter: brightness(0.8);
    transform: translateZ(0);
}
/* ---------------------------------------- */
.adaptive-flex{
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.adaptive-flex::after{
    content: "";
    flex: 20 0 auto;
}
.adaptive-flex > .card-wrapper{
    height: 200px;
    cursor: pointer;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    min-width: fit-content;
    max-width: 420px;
    position: relative;
    border-radius: 12px;
}
.adaptive-flex .card{
    height: 200px;
    width: 100%;
    flex-grow: 0;
    background-color: #00000020;
}
.adaptive-flex .card-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 2px 12px #00000080;
    opacity: 0;
    transition: opacity ease .2s;
    pointer-events: none;
    will-change: opacity;
}
.adaptive-flex .card-wrapper:hover::after{
    opacity: 1;
    transform: translateZ(0);
}
.adaptive-flex .card-img{
    object-fit: contain;
    flex-grow: 0;
}

/* ---------------------------------------- */
.perfect-grid{
    height: fit-content;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    row-gap: 1rem;
    justify-items: center;
}
.perfect-grid > .card-wrapper{
    height: 240px;
    width: 180px;
    display: flex;
}
.perfect-grid .card{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.perfect-grid .card-img{
    object-fit: cover;
}
.perfect-grid .card:hover{
    box-shadow: 0 2px 12px #00000080;
    transform: translateZ(0);
}
.perfect-grid .card:hover .card-img{
    filter: brightness(.9);
    transform: translateZ(0);
}

/* ---------------------------------------- */

/* -------------------------------------------------------------- viewport */

#viewer{
    will-change: opacity, transform;
    display: flex;
    transition: opacity ease .2s, transform ease .2s;
    position: sticky;
    overflow: hidden;
    transform: translateZ(0) translateX(0);
    opacity: 1;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: var(--var-card-border-radius);
    background-color: var(--col-theme-card);
    z-index: 2;
    filter: drop-shadow(0 0 5px #00000040);
}
#viewer.closed {
    flex-grow: 0;
    opacity: 0;
    transform: translateX(50%);
}
#viewer.minimized {
    flex-grow: 1;
}
#viewer.maximized {
    flex-grow: 8;
}

.canvas-holder{
    display: flex;
    width: 100%;
    z-index: 0;
    touch-action: none;
}

.hidden-panel {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 10;
    will-change: transform;
}

.hidden-panel-close-button {
    display: none;
}

.viewport-functions {
    display: flex;
    width: 100%;
    height: 100%;
}

.viewer-control-panel{
    position: absolute;
    top: calc(3rem + 60px);
    left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;
    pointer-events: none;
}

.viewer-size-panel {
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.background-palette {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}
.bg-palette-button {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 60px;
    outline: 2px solid var(--col-palette-outline);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    pointer-events: auto;
}
.bg-palette-button.active {
    border: 4px solid var(--col-palette-border-active);
}

#spine-bg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#picker-bg {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picker-btn {
    padding: 0;
    border: none;
    width: 200%;
    height: 150%;
    position: absolute;
    cursor: inherit;
}
.picker-icon {
    position: absolute;
    pointer-events: none;
}
#transparent-bg {
    color: white;
    background-color: var(--col-theme-accent);
}

#debug-panel {
    will-change: width, height, border-radius, padding;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    margin-top: 1rem;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    transition: ease .1s;
}
#debug-panel:hover {
    border-radius: var(--var-card-border-radius);
    width: 200px;
    height: 290px;
    padding: 0 1rem;
    > #debug-list {
        border-top: 1px solid var(--col-panel-separator);
        display: flex;
    }
}
#debug-title {
    padding: 8px;
    display: flex;
    justify-content: center;
}
#debug-list {
    display: none;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
    overflow: hidden;
}
.debug-item {
    border-radius: 50px;
    padding: 6px;
    display: flex;
    gap: .5rem;
    align-content: center;
    > div {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
    }
}
.debugCheck {
    pointer-events: none;
}
.debug-item:hover{
    background-color: var(--col-theme-accent);
}
.debug-item.active{
    color: var(--col-btn-active-primary);
    background-color: var(--col-btn-active-secondary);
}
.check-icon {
    display: none;
    width: 16px;
    height: 16px;
}
.check-icon.visible {
    display: flex;
}

.viewer-button{
    will-change: background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color ease var(--var-animation-duration) 0s;
    pointer-events: auto;
}

.viewport-interaction-switch {
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    margin-right: 2rem;
    top: 1rem;
    right: calc(1rem + 180px);
    border: none;
    cursor: pointer;
    border-radius: 999px;
    pointer-events: auto;
    background-color: var(--col-theme-accent);
    color: var(--col-theme-text);
    transition: transform ease .1s;
    z-index: 1;
    position: absolute;
    user-select: none;
}
.viewport-interaction-switch.unavaliable {
    display: none;
}
.viewport-interaction-switch.active {
    /* background-color: rgb(248, 229, 73); */
    /* background-image: linear-gradient(to bottom right, rgb(235, 224, 71), rgb(250, 197, 30)); */
    background-image: conic-gradient(
            from 135deg at 72% 70%,
            rgb(253, 218, 50) 0deg,
            rgb(250, 224, 58) 45deg,
            rgb(235, 224, 71) 180deg,
            rgb(253, 218, 50) 225deg,
            rgb(250, 197, 30) 315deg 360deg);

    color: rgb(79, 41, 25);
    margin-right: 0;
    height: 50px;
    width: 80px;
    border-radius: 6px;
    transform: skewX(-10deg);
    right: 1rem;
    > svg {
        transform: skewX(10deg);
    };
}
.viewport-interaction-switch.active:active {
    transform: scale(0.9) skewX(-10deg);
}
.viewport-interaction-switch:active {
    transform: scale(0.9);
}
.animation-panel{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    width: 180px;
    z-index: 2;
}

.anim-drop-button-holder{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 1rem;
}

.anim-skeleton-drop-button{
    will-change: background-color;
    all: unset;
    min-width: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    border-radius: 999px;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    color: var(--col-theme-text);
    background-color: var(--col-theme-accent);
    transition: background-color .2s ease, color .2s ease;
    text-decoration: none;
    pointer-events: auto;
}

.dropdown-menu{
    will-change: background-color, opacity;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 90%;
    border-radius: 6px;
    z-index: 2;
    overflow: hidden;
    color: var(--col-btn-primary);
    background-color: var(--col-theme-background);
    border-color: var(--col-theme-accent);
    transition: background-color ease var(--var-animation-duration) 0s, opacity ease .15s;
    box-shadow: 0 0 10px #000000ff;
    width: 10rem;
    min-width: 10rem;
    max-width: 15rem;
    pointer-events: none;
}

.anim-skeleton-drop-button.open + .dropdown-menu{
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item{
    will-change: background-color;
    display: flex;
    height: 32px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--col-theme-text);
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    transition: background-color ease var(--var-animation-duration) 0s;
}

.animation-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: var(--var-card-border-radius);
    background-color: var(--col-theme-accent);
    pointer-events: auto;
    
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.anim-button, .metrics-button{
    will-change: background-color;
    display: flex;
    height: 32px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--col-theme-text);
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 4px;
    cursor: pointer;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    transition: background-color ease var(--var-animation-duration) 0s;
}
.anim-button svg {
    display: block;
}

.focus-button {
    position: absolute;
    left: .5rem;
    bottom: .5rem;
    cursor: pointer;
    color: var(--col-btn-secondary);
}
.focus-button:hover {
    color: var(--col-btn-primary);
}

.hidden-show-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    cursor: pointer;
    color: var(--col-theme-text);
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 999px;
    background-color: var(--col-theme-accent);
    z-index: 1;
    user-select: none;
    display: none;
}

.metrics-panel {
    will-change: width;
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    width: 160px;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    overflow: hidden;
    transition: width ease .1s;
    border-radius: var(--var-card-border-radius);
    background-color: var(--col-theme-accent);
}
.metrics-panel.open {
    width: 250px;
}
.metrics-icon {
    will-change: transform;
    transform: rotate(180deg);
    transition: transform ease .2s;
}
.icon-rotate > .metrics-icon{
    transform: rotate(0);
}
.metrics-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0;
    height: 0;
}
.metrics-list.open{
    height: fit-content;
}
.metrics-item{
    display: flex;
    height: 32px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--col-theme-text);
    border-top: 1px solid var(--col-panel-separator);
}

.anim-button.active, .dropdown-item.active, .switch-button.active,
.info-button.active, .guide-button.active {
    color: var(--col-btn-active-primary);
    background-color: var(--col-btn-active-secondary);
}

.switch-button.active:hover, .guide-button.active:hover, .info-button.active:hover,
.anim-button.active:hover, .display-type-button.active:hover, .lang-btn.active:hover,
.filter-button.active:hover, .dropdown-item.active:hover{
    background-color: var(--col-btn-active-secondary);
}

.switch-button:hover, .metrics-button:hover, .github-link:hover, .txt-link:hover, .guide-button:hover, .lang-btn:hover,
.anim-button:hover, .display-type-button:hover, .filter-button:hover, .viewer-button:hover, .info-button:hover,
.anim-skeleton-drop-button:hover, .dropdown-item:hover, .anim-skeleton-drop-button.open{
    background-color: var(--col-btn-pressed);
    text-decoration: none;
}

.viewer-button:active, .metrics-button:active,
.anim-button:active, .display-type-button:active, .filter-button:active, .anim-skeleton-drop-button:active, .dropdown-item:active{
    background-color: var(--col-btn-active-primary);
}

.hidden{
    display: none;
}

/* -------------------------------------------------------------- loading icon */

#loading-indicator {
    will-change: opacity, visibility;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2rem;
    background: #0a0a0a20;
    z-index: 20;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#loading-indicator svg {
    position: absolute;
    transform-origin: center;
    animation:
        spinAndJump 2s infinite;
}

@keyframes spinAndJump {
    0% {
        transform: scaleX(1);
        animation-timing-function: ease-in-out;
    }
    30%{
        transform: scaleX(-1);
        animation-timing-function: ease-in-out;
    }
    60% {
        transform: scaleX(1);
    }
    73% {
        transform: translateY(0);
        animation-timing-function: ease;
    }
    80% {
        transform: translateY(-10px);
        animation-timing-function: ease;
    }
    87% {
        transform: translateY(0);
    }
}

#loading-indicator.hidden {
    opacity: 0;
    visibility: hidden;
}

#loading-indicator.hidden svg {
    animation-play-state: paused;
}

/* ---------------------------------------------------- TABLET --------------------------------------------------------------- */
@media (max-width: 1400px) {
    #viewer.maximized, #viewer.minimized {
        flex-grow: 5;
    }

    #viewer-size-button {
        display: none;
    }
}

@media (max-width: 1042px) {
    .sidebar-button-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }
    .pc {
        display: none;
        margin: 0;
    }
    .cardfall {
        gap: 1rem;
        columns: 160px;
    }
    .cardfall > .card-wrapper {
        margin-bottom: 1rem;
    }

    .perfect-grid {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .perfect-grid > .card-wrapper{
        height: 160px;
        width: 120px;
    }
}

@media (max-width: 768px) {
    .displayingbar {
        display: none;
        margin: 0;
    }
    .gallery-place-holder {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    header.hide{
        transform: translateY(-100%);
    }

    #viewer{
        will-change: transform;
        display: flex;
        transition: transform ease .2s;
        position: fixed;
        overflow: hidden;
        transform: translateZ(0);
        bottom: 0;
        width: 100%;
        height: 100dvh;
        border-radius: 0;
        background-color: var(--col-theme-card);
        backdrop-filter: var(--var-glass-filter-navbar);
        z-index: 2;
        filter: none;
    }
    #viewer.closed {
        transform: translateY(100%);
        width: 100%;
    }
    #viewer.minimized, #viewer.maximized {
        transform: translateY(0);
        width: 100%;
    }
}

/* ---------------------------------------------------- MOBILE --------------------------------------------------------------- */

@media (max-width: 576px) {
    .pc {
        margin: 0;
    }
    .tablet {
        display: none;
        margin: 0;
    }
    .sidebar {
        width: 100%;
    }
    .navbar-container>div {
        margin-right: 1rem;
    }
    .cardfall {
        columns: 120px;
    }

    .viewer-control-panel, .metrics-panel {
        position: static;
        height: fit-content;
    }

    .hidden-panel {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--col-theme-bg-overlay-dark);
        border-radius: var(--var-card-border-radius) var(--var-card-border-radius) 0 0;
        transition: transform ease .2s;
        transform: translateY(100%);
    }
    .hidden-panel.open {
        transform: translateY(0);
    }

    .hidden-panel-header {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 16px;
    }
    .hidden-panel-close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: var(--col-theme-text-muted);
        border: none;
        padding: 0;
        margin: 0;
        height: 32px;
        width: 32px;
        :hover {
            color: var(--col-theme-text);
            transform: translateZ(0);
        }
    }

    .viewport-functions {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .background-palette {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #debug-panel, #debug-panel:hover {
        display: flex;
        margin: 0;
        width: 100%;
        height: fit-content;
        background: none;
        border-radius: var(--var-card-border-radius);
        padding: 0 1rem;
        border: 2px solid var(--col-panel-separator);
    }
    #debug-list {
        border-top: 1px solid var(--col-panel-separator);
        display: flex;
        width: 100%;
    }

    .metrics-button {
        pointer-events: none;
        justify-content: center;
    }
    .metrics-icon {
        display: none;
    }
    .metrics-panel, .metrics-panel.open {
        display: flex;
        flex-direction: column;
        pointer-events: auto;
        width: 100%;
        height: fit-content;
        z-index: 2;
        border-radius: var(--var-card-border-radius);
        background: none;
        margin-top: 2rem;
        border: 2px solid var(--col-panel-separator);
        flex-shrink: 0;
    }
    .metrics-list, .metrics-list.open{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        margin: 0;
        height: fit-content;
    }

    .viewport-interaction-switch {
        right: 1rem;
        top: 1rem;
        margin: 0;
    }

    .animation-panel {
        position: static;
        width: 100%;
        border-radius: var(--var-card-border-radius);
        border: 2px solid var(--col-panel-separator);
        padding: 1rem;
    }
    .anim-drop-button-holder {
        justify-content: center;
    }
    .anim-skeleton-drop-button {
        background: none;
    }
    .animation-list {
        background: none;
        border: 1px solid var(--col-panel-separator);
    }
    .anim-button {
        height: 40px;
    }

    .hidden-show-button {
        display: flex;
    }
}

@media (max-width: 464px) {
    .filterbar {
        display: none;
    }
    .perfect-grid {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .perfect-grid > .card-wrapper{
        height: 160px;
        width: 120px;
    }
}

@media (max-width: 375px) {
    .perfect-grid {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
    .perfect-grid > .card-wrapper{
        height: 140px;
        width: 100px;
    }
}

@media (max-width: 320px) {
    .perfect-grid {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
    .perfect-grid > .card-wrapper{
        height: 150px;
        width: 120px;
    }
}